<div @resize="console.log('Hola')">
  <loading v-if="$loadingRouteData"></loading>
  <section id="content" v-if="!$loadingRouteData">
    <section-title title="Productos" description="Aqui pueden ver todos los productos que ofrecemos">
    </section-title>
    <section id="recent-works">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-2">
            <div class="row">
              <categories header="Categorías" :collection="categories" @selected-changed="selectCategory" :scale.sync="scale"></categories>
              <!--<div class="list-group">-->
                    <!--<span href="#" class="list-group-item categories-header">-->
                        <!--Categorías-->
                    <!--</span>-->
                <!--<a class="clickable list-group-item" @click="selected = 0"-->
                   <!--:class="{'active': 0 === selected}">-->
                  <!--Todas-->
                <!--</a>-->
                <!--<a v-for="category of categories" class="clickable list-group-item" @click="selectCategory(category)"-->
                   <!--:class="{'active': category.id === selected}">-->
                  <!--{{ category.name }}-->
                <!--</a>-->
              <!--</div>-->
            </div>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-10" v-if="canPaginate">
            <div class="row" v-for="group of chunkData | limitBy rows startRow">
              <div class="col-xs-6 col-sm-4 col-md-3"
                   v-for="product of group | filterBy filter in 'name' 'price' 'description'">
                <div class="portfolio-item clickable">
                  <div class="item-inner">
                    <img class="img-responsive" :src="product.url_small" alt="">
                    <div class="center">
                      <h5>
                        {{ product.name }}
                      </h5>
                      <div>
                        <small>{{ product.description | limitBy 40 0}}</small>
                      </div>
                      <h5><span class="label label-success">{{ product.price | currency }}</span></h5>
                      <div class="overlay">
                        <a @click="selectProduct(product)" class="preview btn btn-danger" rel="prettyPhoto"><i
                          class="fa fa-eye"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--/.row-->
            <nav aria-label="Page navigation" v-if="!filter">
              <ul class="pagination">
                <li :class="{'disabled': 0 === startRow}">
                  <a @click="nextPage(-1)" aria-label="Previous" class="clickable">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li v-for="page of chunkData.length/rows" :class="{'active': page + 1 === (startRow / rows) + 1}">
                  <a class="clickable" @click="goTo(page)">{{ page + 1 }}</a>
                </li>
                <li :class="{'disabled': (lastPage * rows) === startRow + rows}">
                  <a @click="nextPage(1)" aria-label="Next" class="clickable">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xs-12 col-sm-9 col-md-10" v-else>
            <div class="row" v-for="group of chunkData">
              <div class="col-xs-6 col-sm-4 col-md-3"
                   v-for="product of group | filterBy filter | filterBy filterCategory">
                <div class="portfolio-item clickable">
                  <div class="item-inner">
                    <img class="img-responsive" :src="product.url_small" alt="">
                    <div class="center">
                      <h5>
                        {{ product.name }}
                      </h5>
                      <div>
                        <small>{{ product.description | limitBy 40 0}}</small>
                      </div>
                      <h5><span class="label label-success">{{ product.price | currency }}</span></h5>
                      <div class="overlay">
                        <a @click="selectProduct(product)" class="preview btn btn-danger clickable" rel="prettyPhoto"><i
                          class="fa fa-eye"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--/.row-->
          </div>
        </div>
      </div>
    </section><!--/#recent-works-->
  </section>
  <ui-modal :show.sync="showFullProduct"
            @closed="deselectProduct"
            :hide-footer="true"
            type="large">
    <p slot="header">To order by telephone, <a href="tel:18005551212">please call 1-800-555-1212</a></p>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <img
          :src="selectedProduct.url_large"
          alt="{{ selectedProduct.name }}"
          class="image-responsive"
        />
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ selectedProduct.name }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="label label-primary">{{ getCategory(selectedProduct.category_id).name }}</span>
          </div>
        </div><!-- end row -->
        <div class="row">
          <div class="col-md-12">
            <p class="description">
              {{ selectedProduct.description }}
            </p>
          </div>
        </div><!-- end row -->
        <div class="row">
          <div class="col-md-12">
            <h2 class="product-price"><span class="label label-success">{{ selectedProduct.price | currency }}</span></h2>
          </div>
        </div><!-- end row -->
      </div>
    </div>
  </ui-modal>
</div>
