<template src="./products.template.html"></template>

<script>
  import SectionTitle from './../common/SectionTitle'
  import UiModal from 'keen-ui'
  import Categories from './../common/Sidebar'
  import PageService from './../pages/PagesService'
  import lodash from 'lodash'
  export default {
    props: {
      rows: {
        type: Number,
        default () {
          return 4
        }
      }
    },
    data () {
      return {
        products: [],
        categories: [],
        startRow: 0,
        selected: 0,
        selectedProduct: {},
        showCategoriesMenu: false,
        showFullProduct: false,
        filter: '',
        scale: 0
      }
    },
    computed: {
      lastPage () {
        if (!this.rows) return 0;
        return parseInt(Math.ceil(this.chunkData.length / this.rows));
      },
      chunkData () {
        return lodash.chunk(this.virtualProducts, this.scale)
      },
      canPaginate () {
        return this.selected === 0;
      },
      virtualProducts () {
        return this.selected === 0
          ? this.products
          : this.products.filter((p) => {
            return p.category_id === this.selected
          });
      }
    },
    components: {
      SectionTitle, UiModal, Categories
    },
    route: {
      data () {
        return Promise.all([
          PageService(this.$http).getProducts().then(
            r => {
              return r.data;
            },
            e => {
              console.log(e.data);
            }
          ),
          PageService(this.$http).getCategories().then(
            r => {
              return r.data;
            },
            e => {
              console.log(e.data);
            }
          )
        ]).then(([products, categories]) => ({products, categories}));
      }
    },
    ready () {
      this.setPageScale();
      window.addEventListener('resize', () => {
        this.setPageScale();
      });
    },
    methods: {
      setPageScale () {
        this.scale = (window.screen.width < 768 ? 2
          : (window.screen.width >= 768 && window.screen.width < 1024)
          ? 3 : 4);
      },
      getCategory (category) {
        if (!category) {
          return '';
        }
        return lodash.find(this.categories, (c) => {
          return c.id === category;
        });
      },
      goTo (page) {
        this.startRow = page * this.rows;
      },
      nextPage (page) {
        let newStartRow = this.startRow + (page * this.rows);
        if (newStartRow >= 0 && newStartRow < this.chunkData.length) {
          this.startRow = newStartRow;
        }
      },
      selectCategory (category) {
        this.selected = category.selectedItem.id;
      },
      filterCategory (value) {
        return this.selected === 0 || value.category_id === this.selected;
      },
      selectProduct (product) {
        this.selectedProduct = product;
        this.showFullProduct = true;
      },
      deselectProduct () {
        this.selectedProduct = {};
      }
    }
  }
</script>

<style>
  .Search {
    margin-top: 12%;
  }

  .Bottom-Left {
    margin-left: 2%;
  }
</style>
