<template>
  <section id="portfolio" class="container">
    <div class="row row-margin">
      <div class="col-md-3">
        <h3>{{ section.title }}</h3>
        <p>{{ section.description }}</p>
        <p class="gap"></p>
      </div>
      <div class="zodiac-border col-lg-3 col-md-6" v-for="sign of zodiacs">
        <a v-link="getPath(sign)" class="color-{{ sign.color}}">
          <zodiac :sign="sign">
            <div class="panel-footer">
              <span class="pull-left">Lea el horóscopo más reciente</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </zodiac>
        </a>
      </div>
    </div><!--/.row-->
  </section><!--/#portfolio-->
</template>

<script>
  import _ from 'lodash'
  import moment from 'moment'
  import dateFilter from './../../filters/DateFilter'
  import HoroscopeService from './HoroscopeService'
  import Zodiac from './Zodiac'
  export default {
    data () {
      return {
        zodiacs: [],
        section: {}
      }
    },
    activate (done) {
      HoroscopeService(this.$http).getActualZodiacs().then(response => {
        this.section = _.cloneDeep(response.data);
        delete this.section.horoscopes;
        this.zodiacs = this.getZodiacByDate(response.data.horoscopes);
      });
      done();
    },
    methods: {
      getZodiacByDate (zodiacs) {
        let localZodiacs = [];
        zodiacs.forEach((z, index) => {
          if (moment().month() === moment(z.begin_date).month()) {
            localZodiacs.push(z);
            localZodiacs.push(zodiacs[index + 1]);
            localZodiacs.push(zodiacs[index + 2]);
            return;
          }
        });
        return localZodiacs;
      },
      getPath (sign) {
        let path = `${this.$route.path}pages/horoscopes/${sign.id}/${sign.color}`;
        return {path: path};
      }
    },
    components: { Zodiac },
    filters: {
      dateFormat: dateFilter
    }
  }
</script>
