<template>
  <section id="blog-all">
    <page-title :title="section.title" :description="section.description">
    </page-title>
    <section id="blog" class="container">
      <div class="row row-margin">

        <aside class="col-sm-3 col-sm-push-9">
          <loading v-if="isAddLoading"></loading>
          <adds @on-ready="onAddsReady" v-show="!isAddLoading"></adds>
        </aside>

        <div class="col-sm-9 col-sm-pull-3">
          <div class="blog">
            <router-view></router-view>
          </div>
        </div><!--/.col-md-8-->
      </div><!--/.row-->
    </section><!--/#blog-->
    <loading v-show="isLoading"></loading>
  </section>
</template>

<script>
  import ZodiacService from './HoroscopeService'
  import PageTitle from './../common/SectionTitle'
  import Adds from './../common/Adds'
  export default {
    data () {
      return {
        isLoading: true,
        isAddLoading: true,
        section: {}
      }
    },
    route: {
      data ({next}) {
        ZodiacService(this.$http).getHoroscopesSection().then(response => {
          next({
            isLoading: false,
            section: response.data
          });
        });
      }
    },
    methods: {
      onAddsReady () {
        this.isAddLoading = false;
      }
    },
    components: {PageTitle, Adds}
  }
</script>

<style>
  .huge {
    font-size: 25px;
    font-weight: bold;
  }
</style>
