<template>
<section>
  <div class="blog-item">
    <!--<img class="img-responsive img-blog" :src="post.image" width="100%" alt=""/>-->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 blog-image">
        <i class="{{ horoscope.zodiac.image}} color-{{ horoscope.zodiac.color }}"></i>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-6 blog-content sign-title">
        <h2 class="page-header color-{{ horoscope.zodiac.color }}">{{ horoscope.zodiac.name }}</h2>
        <div class="entry-meta">
          <span><i class="fa fa-calendar"></i> Desde {{ horoscope.zodiac.begin_date | dateFormat 'DD, MMMM' }}</span>
          <span><i class="fa fa-calendar"></i> Hasta {{ horoscope.zodiac.end_date | dateFormat 'DD, MMMM' }}</span>
        </div>
      </div>
    </div>
    <div class="blog-content">
      <div>
        <h3 class="color-{{ horoscope.zodiac.color }}">{{ horoscope.title }}</h3>
        {{{ horoscope.content }}}

        <hr>
       <back-button></back-button>
      </div>
    </div>
  </div>
</section>
</template>

<script>
  import HoroscopeService from './HoroscopeService'
  import DateFilter from './../../filters/DateFilter'
  export default {
    data () {
      return {
        horoscope: {
          zodiac: {}
        }
      }
    },
    route: {
      data ({next}) {
        HoroscopeService(this.$http).getHoroscope(this.$route.params.zodiacId).then(
          response => {
            next({horoscope: response.data[0]});
          }
        )
      }
    },
    filters: {
      dateFormat: DateFilter
    }
  }
</script>

<style scoped>
  .blog-image {
    padding: 0;
    font-size: 14em;
    margin-bottom: -40px;
    margin-left: 40px;
  }

  .blog-content > .page-header {
    font-size: 5em;
    margin-bottom: 1px;
  }

  .sign-title {
    text-align: center;
  }
</style>
