<template>
  <div class="panel panel-{{ sign.color }}">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa {{ sign.image }} fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge">{{ sign.name }}</div>
          <div class="zodiac-date">desde {{ sign.begin_date | dateFormat 'MM/DD' }}</div>
          <div class="zodiac-date">hasta {{ sign.end_date | dateFormat 'MM/DD' }}</div>
        </div>
      </div>
    </div>
    <slot></slot>
  </div>
</template>
<script>
  import dateFilter from './../../filters/DateFilter'
  export default {
    props: {
      sign: {
        type: Object,
        required: true
      }
    },
    filters: {
      dateFormat: dateFilter
    }
  }
</script>
