<template>
  <section id="zodiacs-page">
    <loading v-show="isLoading"></loading>
    <div class="container" v-else="">
      <div class="row">
        <div class="col-lg-4 col-md-3" v-for="chunks of zodiacs">
          <a class="clickable" v-for="sign of chunks" v-link="getLink(sign)">
            <zodiac :sign="sign"></zodiac>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import ZodiacService from './HoroscopeService'
  import Zodiac from './Zodiac'
  import _ from 'lodash'
  export default {
    data () {
      return {
        zodiacs: [],
        isLoading: true
      }
    },
    route: {
      data ({next}) {
        ZodiacService(this.$http).getZodiacs().then(response => {
          next({
            zodiacs: _.chunk(response.data, 4),
            isLoading: false
          });
        });
      }
    },
    methods: {
      getLink (sign) {
        let path = `${this.$route.path}/${sign.id}/${sign.color}`;
        return {path: path};
      }
    },
    components: {Zodiac}
  }
</script>
