<template>
  <div>
    <loading v-show="$loadingRouteData"></loading>
    <div v-show="!$loadingRouteData">
      <section-title :title="title" :description="description"></section-title>
      <section id="contact-page" class="container">
        <div class="row row-margin">
          <div class="col-sm-12 col-md-6 pull-right">
            <ui-alert :show="alert.notify" :type="alert.type">{{ alert.message }}</ui-alert>
          </div>
        </div>

        <div class="row row-margin center">
          <div class="col-sm-6">
            <legend>Formulario de Contacto</legend>
            <form id="main-contact-form" class="contact-form" @submit.prevent="sendMessage">
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <input type="text"
                           class="form-control"
                           required="required"
                           placeholder="Nombre"
                           v-model="message.first_name">
                  </div>
                  <div class="form-group">
                    <input type="text"
                           class="form-control"
                           required="required"
                           v-model="message.last_name"
                           placeholder="Apellido">
                  </div>
                  <div class="form-group">
                    <input type="email"
                           class="form-control"
                           required="required"
                           v-model="message.email"
                           placeholder="Email">
                  </div>
                  <div class="form-group">
                    <button type="submit" :disabled="!canSave"
                            class="btn btn-primary btn-lg">
                      <i v-hc-load="{isLoading: isSending, loadingText: 'Saving', parentText: 'Enviar Mensaje', defaultClass: 'fa fa-send'}" class="fa fa-send">
                      </i>
                    </button>
                  </div>
                </div>
                <div class="col-sm-7">
                  <textarea
                    name="message"
                    id="message"
                    required="required"
                    class="form-control"
                    rows="8"
                    v-model="message.message"
                    placeholder="Mensaje">

                  </textarea>
                </div>
              </div>
            </form>
          </div><!--/.col-sm-8-->
          <div class="col-sm-6">
            <legend>Nuestra Ubicación</legend>

            <iframe  width="100%"
                     height="215"
                     frameborder="0"
                     scrolling="no"
                     marginheight="0"
                     marginwidth="0"
                     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5680.6941747398205!2d-110.97689666311807!3d32.15674867551397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86d67a15749780af%3A0xb68d520e8a342a2b!2s5151+S+12th+Ave%2C+Tucson%2C+AZ+85706!5e0!3m2!1sen!2sau!4v1473468702257"></iframe>
            <address style="text-align: right">
              Centro Espiritual San José.<br>
              5151 S 12th Ave. Tucson, AZ 85706<br>
              USA <br>
              Phone (520)746-4888<br>
            </address>
          </div><!--/.col-sm-4-->
        </div>
      </section><!--/#contact-page-->
    </div>
  </div>
</template>

<script>
  import Loading from './../common/Loading'
  import SectionTitle from './../common/SectionTitle'
  import UiAlert from 'keen-ui'
  import PagesService from './PagesService'
  import config from './../../app.config'
  import _ from 'underscore'
  export default {
    data () {
      return {
        page: 'contact',
        title: '',
        description: '',
        message: {
          first_name: '',
          last_name: '',
          email: '',
          message: ''
        },
        isSending: false,
        alert: {
          notify: false,
          type: 'info',
          message: 'El mensaje fue enviado, pronto nos comunicaremos con usted'
        }
      }
    },
    computed: {
      canSave () {
        return _.isEmpty(Object.keys(this.message).filter((prop) => {
          return this.message[prop] === ''
        }));
      }
    },
    route: {
      data ({next}) {
        PagesService(this.$http)
          .getPages(this.page).then(response => {
            next({title: response[1], description: response[2]});
          })
      }
    },
    components: {Loading, SectionTitle, UiAlert},
    methods: {
      sendMessage () {
        this.isSending = true;
        this.$http.post(config.resources.messages, this.message).then(
          () => {
            this.message = {
              first_name: '',
              last_name: '',
              email: '',
              message: ''
            };
            this.alert.notify = true;
            this.isSending = false;
          }
        );
      }
    }
  }
</script>

<style>
  .Breath {
    margin: 2%;
  }
</style>
