<template>
  <section id="page">
    <section-title :title="title"
                   :description="description">

    </section-title>
    <section id="{{ page }}-content"  class="container">
      {{{ content }}}
    </section>
  </section>
</template>

<script>
  import SectionTitle from './../common/SectionTitle'
  export default {
    props: {
      page: {
        type: String,
        required: true
      },
      content: {
        type: String,
        default () {
          return `<p>${this.page} Content </p>`
        }
      },
      title: String,
      description: String
    },
    components: { SectionTitle }
  }
</script>
