<template>
  <section id="services">
    <loading v-show="$loadingRouteData"></loading>
    <section v-show="!$loadingRouteData" id="services-content">
      <section-title :title="services.section.title"
                     :description="services.section.description">
      </section-title>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="center gap">
                {{{  services.intro }}}
              </div>
            </div>
          </div>
          <div class="row gap"
               v-for="col of services.collection" track-by="$index">
            <div class="col-md-6 col-sm-6" v-for="service of col.chunks">
              <div class="media">
                <div class="media-body">
                  <h3 class="media-heading">{{ service.name }}</h3>
                  <p>{{ service.description}}</p>
                </div>
              </div>
            </div><!--/.col-md-4-->
          </div><!--/.row-->
          <hr>
          <div class="row">
            <div class="col-lg-12">
              {{{ services.freeContent }}}
            </div>
          </div>
        </div>
      </section><!--/#services-->
    </section>
  </section>
</template>

<script type="text/babel">
  import SectionTitle from './../common/SectionTitle'
  import Loading from './../common/Loading'
  import PagesService from './PagesService'
  export default {
    data () {
      return {
        services: {
          section: {
            title: '',
            description: ''
          },
          intro: {
            title: '',
            description: ''
          },
          collection: [],
          freeContent: ''
        }
      }
    },
    route: {
      data ({ next }) {
        PagesService(this.$http)
          .getServices()
          .then(services => {
            next({ services: services })
          });
      }
    },
    components: {
      SectionTitle, Loading
    }
  }
</script>
