<template src="./home.template.html"></template>

<script type="text/babel">
  import Slider from '../slider/Slider'
  import Social from '../common/Social'
  import LatestPosts from '../blog/LatesBlogs'
  import Zodiacs from '../horoscope/CurrentHoroscope'
  import SectionTitle from '../common/SectionTitle'
  import HomeService from './HomeService'
  import helpers from '../../utils/helpers'
  import _ from 'underscore'
  export default {
    data () {
      return {
        sliders: [],
        socialNetworks: [],
        recentPosts: {}
      }
    },
    computed: {
      socialMediaSize () {
        let divisor =
          this.socialNetworks.length
            ? this.socialNetworks.length
            : 1;
        return 12 / divisor;
      },
      canShow () {
        return !_.isEmpty(this.sliders) &&
          !_.isEmpty(this.socialNetworks) &&
          !_.isEmpty(this.recentPosts);
      }
    },
    route: {
      data () {
        let service = HomeService(this.$http);

        let sliders = [];
        service.getSliders().then(
          response => {
            response.data.forEach(slider => {
              slider.button.route = helpers.getRoute(slider.button.route);
              sliders.push(slider);
            });
          },
          error => {
            console.log(error.data);
          }
        );

        return Promise.all([
          sliders,
          service.getSocialMedia().then(
            r => {
              return r.data
            },
            e => {
              console.log(e.data);
            }
          ),
          service.getRecentPosts().then(
            p => {
              return p.data
            },
            e => {
              console.log(e.data);
            }
          )
        ]).then(([sliders, socialNetworks, recentPosts]) => ({sliders, socialNetworks, recentPosts}));
      }
    },
    components: {
      Slider, Social, Zodiacs,
      LatestPosts, SectionTitle
    }
  }
</script>
