<section id="home">
  <loading v-if="$loadingRouteData"></loading>
  <section id="home-content" v-if="!$loadingRouteData">
    <slider :sliders.sync="sliders">
    </slider>

    <Section-title>
      <social v-for="social of socialNetworks"
              :name="social.name"
              :title="social.title"
              :body="social.body"
              :size="socialMediaSize"
              :url="social.url">
      </social>
    </Section-title>

    <latest-posts :posts="recentPosts">
    </latest-posts>
    <zodiacs></zodiacs>
  </section>
</section>
