<template>
  <div class="blog-item">
    <img class="img-responsive img-blog" :src="post.image" width="100%" alt=""/>
    <div class="blog-content">
      <a v-link="generateRoute(post)"><h3>{{ post.title }}</h3></a>
      <div class="entry-meta">
        <span><i class="fa fa-user"></i> {{ post.user.name }}</span>
        <span><i class="fa fa-folder"></i> <a v-link="{name: 'pages.blog', query: {category: post.blog_category_id}}">{{ post.category.name }}</a></span>
        <span><i class="fa fa-calendar"></i> {{ post.created_at | dateFormat }}</span>
        <span><i class="fa fa-comment"></i> <a v-link="generateRoute(post)">{{ commentsNotice }}</a></span>
      </div>
      <div v-if="!showFull">
        <p>{{{ post.content | limitBy 741 }}}</p>
        <a class="btn btn-default clickable" v-link="generateRoute(post)">Leer Más <i
          class="icon-angle-right"></i></a>
      </div>
      <section id="parts" v-else>
        {{{ post.content }}}
        <hr>

        <!--TAGS-->
        <div class="tags">
          <i class="fa fa-tags"></i> Tags
          <tag :route="{name: 'pages.blog', query: {tag: tag.id}}"
               v-for="tag of post.tags"
               :tag="tag"></tag>
        </div>
        <p>&nbsp;</p>

        <!--COMMENTS-->
        <comments :post-id="post.id"></comments>
        <back-button></back-button>
      </section>
    </div>
  </div><!--/.blog-item-->
</template>

<script>
  import Tag from './Tag'
  import Comments from './Comments'
  import dateFilter from './../../filters/DateFilter'
  export default {
    props: {
      post: {
        type: Object,
        default () {
          return []
        }
      },
      showFull: Boolean
    },
    computed: {
      commentsNotice () {
        return `${this.post.comments_count} Comentari${this.post.comments_count > 1 ? 'os' : 'o'}`;
      }
    },
    methods: {
      generateRoute (post) {
        return {path: post.url};
      }
    },
    components: { Tag, Comments },
    filters: {
      dateFormat: dateFilter
    }
  }
</script>
