<template>
  <div class="widget categories">
    <h3>Categorías en el Blog</h3>
    <div class="row">
      <div class="col-sm-6" v-for="group of categories">
        <ul class="arrow">
          <li v-for="category of group">
            <a class="clickable"
               @click="onCLick(category)">
              {{ category.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div><!--/.productCategories-->
</template>
<script>
  import BlogService from './BlogService'
  import _ from 'lodash'
  export default{
    data () {
      return {
        categories: []
      }
    },
    ready () {
      this.$dispatch('on-ready', {
        categories: this.categories
      })
    },
    activate (done) {
      BlogService(this.$http).getBlogCategories().then((response) => {
        this.categories = _.chunk(response.data, 5);
        done();
      });
    },
    methods: {
      onCLick (category) {
        this.$router.go({name: 'pages.blog', query: {category: category.id}});
        this.$dispatch('on-selected', {
          category: category
        });
      }
    }
  }
</script>
