<template>
  <section id="blog-all">
    <section-title :title="blog.title" :description="blog.description">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul class="breadcrumb pull-right">
          <li v-if="selectedCategory" class="Category-Label">
            <div class="label label-primary" @click="showAll">{{ selectedCategory.name }}
              <i class="fa fa-times clickable Button-Close"></i>
            </div>
          </li>
        </ul>
      </div>
    </section-title>
    <section id="blog" class="container">
      <div class="row row-margin">

        <aside class="col-sm-4 col-sm-push-8">
          <loading v-if="isAddLoading"></loading>
          <adds @on-ready="onAddsReady" v-show="!isAddLoading"></adds>

          <loading v-if="isCategoryLoading"></loading>
          <categories @on-ready="onCategoriesReady" @on-selected="selectCategory"
                      v-show="!isCategoryLoading"></categories>

          <loading v-if="isTagsLoading"></loading>
          <tags v-show="!isTagsLoading" @on-selected="selectTag"
                @on-ready="onTagsReady">
          </tags>
        </aside>

        <div class="col-sm-8 col-sm-pull-4">
          <div class="blog">
            <router-view></router-view>
          </div>
        </div><!--/.col-md-8-->
      </div><!--/.row-->
    </section><!--/#blog-->
  </section>
</template>

<script>
  import Adds from './../common/Adds'
  import Categories from './BlogCategories'
  import Tags from './BlogTag'
  import Loading from './../common/Loading'
  import SectionTitle from './../common/SectionTitle'
  import BlogService from './BlogService'
  export default {
    data () {
      return {
        blog: {},
        isTagsLoading: true,
        isCategoryLoading: true,
        isAddLoading: true,
        startRow: 0,
        rows: 2,
        selectedCategory: null,
        selectedTag: null
      }
    },
    route: {
      data ({next}) {
        BlogService(this.$http).getBlog().then(
          (response) => {
            next({blog: response.data});
          });
      }
    },
    methods: {
      onTagsReady () {
        this.isTagsLoading = false
      },
      onAddsReady () {
        this.isAddLoading = false
      },
      onCategoriesReady () {
        this.isCategoryLoading = false
      },
      selectCategory (event) {
        this.selectedCategory = event.category;
      },
      selectTag (event) {
        this.selectedTag = event.tag;
      },
      showAll () {
        this.selectedTag = this.selectedCategory = null;
        this.$router.go({name: 'pages.blog'});
      }
    },
    components: {
      Adds, SectionTitle, Categories,
      Tags, Loading
    }
  }
</script>

<style>
  .Button-Close:hover {
    color: black;
  }

  .Category-Label {
    font-size: 1.5em;
  }
</style>
