<template>
  <div class="widget tags">
    <h3>Tags</h3>
    <ul class="tag-cloud">
      <li v-for="tag of tags" class="Tag-Space">
       <tag :tag="tag"></tag>
      </li>
    </ul>
  </div><!--/.tags-->
</template>

<script>
  import BlogService from './BlogService'
  import Tag from './Tag'
  export default {
    data () {
      return {
        tags: []
      }
    },
    ready () {
      this.$dispatch('on-ready', {
        tags: this.tags
      })
    },
    activate (done) {
      BlogService(this.$http).getBlogTags().then((response) => {
        this.tags = response.data;
        done();
      });
    },
    components: {Tag}
  }
</script>
