<template>
  <div>
    <div class="media">
      <div class="pull-left">
        <img class="avatar img-circle" :src="comment.user.avatar" alt="comment.user.email">
      </div>
      <div class="media-body">
        <div class="well">
          <div class="media-heading">
            <strong>{{ comment.user.name }}</strong>
            <small>{{ comment.created_at | dateFormat }}</small>
          </div>
          <p>{{ comment.content }}</p>
        </div>
        <comment v-for="c of comment.comments" :comment="c"></comment>
      </div>
    </div><!--/.media-->
  </div>
</template>
<script>
  import Comment from './Comment'
  import dateFilter from './../../filters/DateFilter'
  export default {
    props: {
      comment: {
        type: Object,
        required: true
      }
    },
    components: { Comment },
    filters: {
      dateFormat: dateFilter
    }
  }
</script>

<style>
  .avatar {
    width: 50px;
    height: 50px;
  }
</style>
