<template>
  <div>
    <div id="comments">
      <div id="comments-list">
        <h3>{{ commentsCount }}</h3>
        <comment v-for="comment of comments | limitBy rows startRow" :comment="comment"></comment>
      </div><!--/#comments-list-->

    </div><!--/#comments-->
    <paginate :data="comments"
              :start.sync="startRow"
              v-if="canPaginate"
              :chunk="rows">
    </paginate>
  </div>
</template>

<script>
  import Comment from './Comment'
  import Paginate from './../common/Paginate'
  import BlogService from './BlogService'
  export default {
    computed: {
      commentsCount () {
        if (this.comments.length === 0) {
          return 'No Hay Comentarios';
        }
        return `${this.comments.length} Comentari${this.comments.length > 1 ? 'os' : 'o'}`;
      },
      canPaginate () {
        return this.comments.length > this.rows;
      }
    },
    data () {
      return {
        startRow: 0,
        rows: 5,
        comments: []
      }
    },
    activate (done) {
      let id = this.$route.params.postId;
      BlogService(this.$http).getPostComments(id).then(
        response => {
          this.comments = response.data;
          done();
        });
    },
    components: { Comment, Paginate }
  }
</script>
