<template>
  <section id="bottom" class="wet-asphalt">
    <div class="container" v-if="canShow">
      <div class="row row-margin">
        <div class="col-md-3">
          <h3>{{ posts.title }}</h3>
          <p>{{ posts.description }}</p>
          <div class="btn-group">
            <a class="btn btn-default" href="#scroller" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="btn btn-default" href="#scroller" data-slide="next"><i class="fa fa-angle-right"></i></a>
          </div>
          <p class="gap"></p>
        </div>
        <div class="col-md-9">
          <div id="scroller" class="carousel slide">
            <div class="carousel-inner">
              <div v-for="chop of posts.chops" class="item" :class="{'active': $index == 0}">
                <div class="row">
                  <a v-for="post of chop" v-link="{path: post.url}">
                    <div class="col-xs-4">
                      <div class="portfolio-item">
                        <div class="item-inner">
                          <img class="img-responsive" :src="post.image" alt="">
                          <h5>{{ post.title }}</h5>
                          <small class="muted">{{ posts.created_at}}</small>
                        </div>
                      </div>
                    </div>
                  </a>
                </div><!--/.row-->
              </div><!--/.item-->
            </div>
          </div>
        </div>
      </div><!--/.row-->
    </div>

    <div v-else>
      <div class="container">
        <div class="row row-margin">
          <div class="alert alert-info">
            Administrator has not posted any blogposts yet.
          </div>
        </div>
      </div>
    </div>
  </section><!--/#recent-works-->
</template>

<script type="text/babel">
  import _ from 'underscore'
  export default {
    props: {
      posts: Object
    },
    computed: {
      canShow () {
        return !_.isUndefined(this.posts) &&
          !_.isEmpty(this.posts.chops);
      }
    },
    methods: {
      getImage (background) {
        return require('./../../../static/images/portfolio/recent/' + background + '.png');
      }
    }
  }
</script>
