<template>
  <div>
    <blog-item :post="post" :show-full="true"></blog-item>
  </div>
</template>

<script>
  import BlogService from './BlogService'
  import BlogItem from './BlogItem'
  export default {
    data () {
      return {
        post: {
          id: 0,
          image: '',
          title: '',
          comments_count: 0,
          content: '',
          created_at: '',
          updated_at: '',
          category: {},
          user: {},
          tags: {}
        }
      }
    },
    route: {
      data ({next}) {
        BlogService(this.$http).getPost(this.$route.params.postId).then(
          response => {
            next({post: response.data});
          }
        );
      }
    },
    components: {BlogItem}
  }
</script>
