<template>
  <div><blog-item v-for="post of virtualPosts | limitBy rows startRow" :post="post"></blog-item>
    <paginate :data="virtualPosts"
              :start.sync="startRow"
              v-if="canPaginate"
              :chunk="rows">
    </paginate>
  </div>
</template>

<script>
  import BlogItem from './BlogItem'
  import Paginate from './../common/Paginate'
  import BlogService from './BlogService'
  import _ from 'underscore'
  export default {
    data () {
      return {
        blog: {posts: []},
        startRow: 0,
        rows: 1,
        category: null,
        tag: null
      }
    },
    watch: {
      $route (value) {
        this.category = null;
        this.tag = null;
        let key = Object.keys(value.query)[0];
        this[key] = parseInt(value.query[key]);
      }
    },
    computed: {
      virtualPosts () {
        if (this.category) {
          return this.blog.posts.filter(p => {
            return p.blog_category_id === this.category
          });
        }
        if (this.tag) {
          return this.blog.posts.filter(p => {
            return _.find(p.tags, {id: this.tag});
          });
        }
        return this.blog.posts;
      },
      canPaginate () {
        return this.virtualPosts.length > this.rows;
      }
    },
    route: {
      data ({next}) {
        BlogService(this.$http).getPosts().then(
          (response) => {
            next({blog: response.data, rows: response.data.rows});
          });
      }
    },
    components: {
      BlogItem, Paginate
    }
  }
</script>
