<template>
  <a class="btn btn-xs btn-primary Tag-Space" v-link="{name: 'pages.blog', query: {tag: tag.id}}"
     @click="tagSelected(tag)">
    {{ tag.name }}
  </a>
</template>

<script>
    export default {
      props: {
        tag: {
          type: Object,
          required: true
        },
        route: {
          type: Object,
          default () {
            return {name: 'home'}
          }
        }
      },
      methods: {
        tagSelected (tag) {
          this.$dispatch('on-selected', {
            tag: tag
          });
        }
      }
    }
</script>
