<template>
  <div class="widget ads">
    <div class="row"  v-for="chunk of pages">
      <div class="col-xs-6" v-for="page of chunk">
        <a :href="page.url"><img class="img-responsive img-rounded" :src="page.imageAdd" alt=""></a>
      </div>
    </div>
  </div><!--/.ads-->
</template>

<script>
  import commonService from './CommonService'
  import _ from 'lodash'
  export default {
    data () {
      return {
        pages: {}
      }
    },
    ready () {
      this.$dispatch('on-ready', {
        pages: this.pages
      })
    },
    activate (done) {
      commonService(this.$http).getAdds().then((response) => {
        this.pages = _.chunk(response.data, 2);
        done();
      });
    }
  }
</script>
