<template>
  <footer id="footer" class="midnight-blue">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          &copy; {{ getYear }} <a target="_blank" href="{{ credits.Url }}" title="{{ credits.appName }}">{{ credits.appName }}</a>. All Rights Reserved.
        </div>
        <div class="col-sm-6">
          <ul class="pull-right">
            <li v-for="route of routes">
              <a v-link="{path: route.path}">{{ route.text }}</a>
            </li>
            <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
          </ul>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
              <small>Version: <strong>{{ credits.version }} - {{ credits.commit }}</strong></small>
          </div>
      </div>
    </div>
  </footer><!--/#footer-->
</template>

<script>
  import moment from 'moment'
  export default {
    props: {
      routes: {
        type: Array,
        required: true
      },
      credits: {
        type: Object
      }
    },
    computed: {
      getYear () {
        return moment()
          .year()
      }
    },
    created () {
      this.credits = {};
    }
  }
</script>

<style>
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin: 0 0 6.2em;
    padding-bottom: 3%;
  }
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
  }
</style>
