<template>
  <button class="btn btn-default" @click="goBack()">
    <i class="fa fa-arrow-left"></i>
  </button>
</template>

<script>
    export default {
      methods: {
        goBack () {
          console.log(this.$route, this.$router);
          this.$router.go(window.history.back());
        }
      }
    }
</script>
