<template>
  <div class="center Loading">
    <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
  </div>
</template>
<style>
    .Loading {
        margin: 10px 10px 10px 10px;
    }
</style>
<script>
    export default{
    }
</script>
