<template>
  <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" v-link="{path: logo}">
          <!--<span v-if="!hasLogo">{{ appName }}</span>-->
          <span v-if="!hasLogo">Jose Candelo</span>
          <img src="../../assets/images/logo.png" alt="logo" v-else>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li v-for="link of links" v-link-active
              :class="{'dropdown': link.multiple}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" v-if="link.multiple">{{ link.text }}
              <i class="icon-angle-down"></i>
            </a>
            <ul class="dropdown-menu" v-if="link.multiple">
              <li v-for="nested of link.links">
                <a v-link="{path: nested.path}">{{ nested.text }}</a>
              </li>
            </ul>
            <a v-link="{path: link.path}" v-else data-toggle="collapse" data-target=".navbar-collapse">{{ link.text }}</a>
          </li>

          <li><slot name="custom-components"></slot></li>

        </ul>
      </div>
    </div>
  </header><!--/header-->
</template>

<script type="text/babel">
  import routes from '../../routes'
  import _ from 'underscore'
  export default {
    props: {
      logo: String,
      appName: {
        type: String,
        default () {
          return 'Super App'
        }
      },
      hasLogo: {
        type: Boolean,
        default () {
          return false
        }
      },
      linksBlackList: Array
    },
    watch: {
      linksBlackList () {
        this.setRoute();
      }
    },
    data () {
      return {
        collapsed: false,
        links: [],
        collapsedCss: {
          btn: {
            collapsed: this.collapsed
          }
        }
      }
    },
    methods: {
      isActive (path) {
        return this.$route.path === path;
      },
      setRoute () {
        Object.keys(routes).forEach(key => {
          let route = routes[key];

          if (_.contains(this.linksBlackList, route.name)) return;
          this.links.push({
            text: route.text,
            path: route.path,
            multiple: route.multiple,
            links: route.links
          });
        });
      }
    }
  }
</script>
