<template>
  <ul class="pagination pagination-lg">
    <li :class="{'disabled': cantGoPrev}">
      <a @click="nextPage(-1)" aria-label="Previous" class="clickable">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
    </li>

    <li v-for="page of numbers" :class="{'active': isActive(page)}">
      <a class="clickable" @click="goTo(page)">{{ page + 1 }}</a>
    </li>

    <li :class="{'disabled': cantGoNext}">
      <a @click="nextPage(1)" aria-label="Next" class="clickable">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </li>
  </ul><!--/.pagination-->
</template>

<script>
  import _ from 'lodash'
  export default {
    props: {
      start: {
        type: Number,
        twoWay: true,
        default () {
          return 0;
        }
      },
      data: {
        type: Array,
        required: true
      },
      chunk: {
        type: Number,
        default () {
          return 3;
        }
      }
    },
    computed: {
      cantGoPrev () {
        return this.start === 0;
      },
      cantGoNext () {
        return (this.numbers * this.chunk) === this.start + this.chunk;
      },
      chunkData () {
        return _.chunk(this.data, this.chunk);
      },
      numbers () {
        return this.chunkData.length;
      }
    },
    methods: {
      goTo (page) {
        this.start = page * this.chunk;
      },
      nextPage (page) {
        let newStartRow = this.start + (page * this.chunk);
        if (newStartRow >= 0 && newStartRow < this.data.length) {
          this.start = newStartRow;
        }
      },
      isActive (page) {
        return page + 1 === (this.start / this.chunk) + 1
      }
    }
  }
</script>
