<template>
  <section id="services" class="emerald">
    <div class="container">
      <div class="row row-margin">
        <div class="col-xs-12 col-sm-8 col-md-8 col-margin" v-if="title || description">
          <h1 v-if="title">{{ title }}</h1>
          <p v-if="description">{{ description }}</p>
        </div>
       <slot></slot>
      </div>
    </div>
  </section>
  </div>
</template>

<script type="text/babel">
    export default {
      props: {
        title: {
          type: String
        },
        description: {
          type: String,
          default () {
            return ''
          }
        }
      }
    }
</script>

<style>
  .col-margin {
    margin-bottom: 3% !important;
  }
</style>
