<template>
  <div>
    <div class="col-xs-12 col-sm-4 col-md-3" v-if="!collapsed">
      <a class="clickable btn btn-success" @click="collapsed = true">Mostrar {{ header }}</a>
    </div>
    <div class="list-group" v-if="collapsed">
        <span class="list-group-item collection-header">
          {{ header }}
          <span class="pull-right" @click="collapsed = false"><i class="fa fa-times"></i></span>
        </span>
      <a class="clickable list-group-item" @click="selectItem({id: 0})"
         :class="{'active': 0 === selected.id}">
        Todas
      </a>
      <a v-for="item of collection" class="clickable list-group-item" @click="selectItem(item)"
         :class="{'active': item.id === selected.id}">
        {{ item.name }}
      </a>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      header: String,
      collection: {
        type: Array,
        required: true
      },
      scale: {
        type: Number,
        twoWay: true
      }
    },
    watch: {
      scale (value) {
        this.collapsed = value > 2;
      }
    },
    data () {
      return {
        selected: {id: 0},
        collapsed: true
      }
    },
    activate (done) {
      this.collapsed = this.scale > 2;
      done();
    },
    methods: {
      selectItem (item) {
        this.selected = item;
        this.$dispatch('selected-changed', {
          selectedItem: this.selected
        });
        this.collapsed = this.scale !== 2;
      }
    }
  }
</script>
<style>
  /*.disabled {*/
    /*pointer-events: none;*/
    /*opacity: 0.4;*/
  /*}*/

  .collection-header {
    background-color: #2ECC71;
    color: #F5F5F5;
    font-weight: 600;
  }

</style>
