<template>
  <div class="col-md-{{ size }} col-sm-6">
    <div class="media">
      <div class="pull-left">
        <i @click="goTo(url)" class="fa fa-{{ name }} icon-md clickable"></i>
      </div>
      <div class="media-body">
        <h3 class="media-heading">{{ title }}</h3>
        <p>{{ body }}</p>
      </div>
    </div>
  </div><!--/.col-md-4-->
</template>

<script type="text/babel">
  export default {
    props: {
      name: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      body: {
        type: String,
        required: true
      },
      url: {
        type: String,
        default () {
          return '#0';
        }
      },

      size: {
        type: Number,
        default () {
          return 3;
        }
      }
    },
    methods: {
      goTo (url) {
        window.location.href = url;
      }
    }
  }
</script>

<style>
  .clickable { cursor: pointer; }
</style>
