<div>
  <navbar :logo="navbarInfo.logoUrl"
          :has-logo="navbarInfo.hasLogo"
          :links-black-list="navbarInfo.blacklistLinks"
          :app-name="navbarInfo.appName">

  </navbar>
  <router-view></router-view>
  <app-footer :routes="footerLinks" :credits="footerInfo"></app-footer>

</div>
