<script type="text/babel">
  import Navbar from './components/common/Navbar'
  import AppFooter from './components/common/AppFooter'
  import helpers from './utils/helpers'
  import config from './app.config'
  import _ from 'lodash'
  export default {
    data () {
      return {
        footerLinks: [],
        footerInfo: {},
        navbarInfo: {},
        isLoading: true
      }
    },
    components: {
      Navbar, AppFooter
    },
    ready () {
      this.getAppConfig();
    },
    methods: {
      /**
       * Get footer links
       */
      getAppConfig () {
        const routerLinks = 'footer_routes';
        this.$http.get(config.resources.appConfig)
          .then(response => {
            this.footerLinks = _.find(response.data, {name: routerLinks}).value;
            this.footerLinks = this.footerLinks.split(':').map(name => {
              return helpers.getRoute(name);
            });

            this.footerInfo = {
              appName: _.find(response.data, {name: 'app_name'}).value,
              url: _.find(response.data, {name: 'main_url'}).value,
              version: _.find(response.data, {name: 'version'}).value,
              commit: _.find(response.data, {name: 'commit'}).value
            };

            let blackLinks = _.find(response.data, {name: 'route_blacklist'}).value;
            blackLinks = blackLinks.split(':').map(name => name);
            this.navbarInfo = {
              hasLogo: false,
              logoUrl: this.footerInfo.url,
              appName: this.footerInfo.appName,
              blacklistLinks: blackLinks
            }
          });
      }
    }
  }
</script>
<template src="./app.template.html"></template>
<style src="./app.css"></style>
