<template src="./slider.template.html"></template>

<style>
  .slider-text-content {
    margin-top: 11em;
  }
</style>
<script type="text/babel">
  import helpers from './../../utils/helpers'
  const activeDefault = 1;
  export default {
    props: {
      sliders: {
        type: Array,
        default () {
          return []
        }
      },
      customImage: Object,
      interval: {
        type: Number,
        default () {
          return 5000
        }
      },
      showCustom: {
        type: Boolean,
        default () {
          return false;
        }
      }
    },
    data () {
      return {
        active: activeDefault,
        sliderGear: null
      }
    },
    computed: {
      customIndicator () {
        return this
          ? this.sliders.length + 1 : activeDefault;
      },
      limit () {
        return this
          ? this.sliders.length : activeDefault;
      }
    },
    ready () {
      this.bootstrap();
    },
    methods: {
      bootstrap () {
        this.sliderGear = new helpers.Timer(() => {
          if (this.active > (this.limit - 1)) {
            this.active = activeDefault;
            return;
          }
          this.active++;
        }, this.interval);
      },
      getImage (background) {
        return {
          'background-image': `url('${background}')`
        };
      },
      goNext () {
        this.active = this.active < this.limit
          ? this.active + 1
          : activeDefault;
        this.sliderGear.reset();
      },
      goPrev () {
        this.active = this.active > activeDefault
          ? this.active - 1
          : this.limit;
        this.sliderGear.reset();
      },
      goTo (to) {
        this.active = to;
//        this.bootstrap();
      }
    }
  }
</script>
