<section id="main-slider" class="no-margin">
  <div class="carousel slide wet-asphalt">
    <ol class="carousel-indicators">
      <li v-for="slider of sliders" :class="{'active': active === slider.order}" @click="goTo(slider.order)">
      </li>
      <li data-target="#main-slider" v-if="showCustom" @click="goTo(customIndicator - 1)"
          data-slide-to="{{ customIndicator - 1 }}">
      </li>
    </ol>
    <div class="carousel-inner">
      <div v-for="slider of sliders"
           class="item" :class="{'active': active === slider.order}"
           :style="getImage(slider.background.url)">
        <div class="container">
          <div class="row slider-text-content">
            <div class="col-sm-12">
              <div class="carousel-content centered" :class="{'center': slider.centered}">
                <h2 class="animation animated-item-1" :class="{'boxed': slider.boxed}">{{ slider. title }}</h2>
                <p class="animation animated-item-2" :class="{'boxed': slider.boxed}">{{ slider.content }}</p>
                <br>
                <a v-if="slider.button.show"
                   class="btn btn-md animation animated-item-3"
                   v-link="{path: slider.button.route.path}">
                  {{ slider.button.text }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div><!--/.item-->
      <div class="item" v-if="showCustom"
           :style="getImage(customImage)">
      <div class="container">
        <slot name="custom"></slot>
        </div>
      </div><!--/.item-->
    </div><!--/.carousel-inner-->
  </div><!--/.carousel-->
  <a class="prev hidden-xs clickable" @click="goPrev">
    <i class="fa fa-angle-left"></i>
  </a>
  <a class="next hidden-xs clickable" @click="goNext">
    <i class="fa fa-angle-right"></i>
  </a>
</section><!--/#main-slider-->
